@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-grotesk);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: #EAEAEA;
  --foreground: #191919;
  --card: #FFFFFF;
  --card-foreground: #191919;
  --popover: #FFFFFF;
  --popover-foreground: #191919;
  --primary: #7C6354;
  --primary-foreground: #FFFFFF;
  --secondary: #F8FCDA;
  --secondary-foreground: #191919;
  --muted: #E3E9C2;
  --muted-foreground: #7C6354;
  --accent: #F9FBB2;
  --accent-foreground: #191919;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #D5D5D5;
  --input: #A5ABAF;
  --ring: #7C6354;
  --chart-1: #7C6354;
  --chart-2: #E3E9C2;
  --chart-3: #F9FBB2;
  --chart-4: #A5ABAF;
  --chart-5: #F8FCDA;
  --sidebar: #FFFFFF;
  --sidebar-foreground: #191919;
  --sidebar-primary: #7C6354;
  --sidebar-primary-foreground: #FFFFFF;
  --sidebar-accent: #F8FCDA;
  --sidebar-accent-foreground: #191919;
  --sidebar-border: #D5D5D5;
  --sidebar-ring: #7C6354;
}

.dark {
  --background: #191919;
  --foreground: #EAEAEA;
  --card: #252525;
  --card-foreground: #EAEAEA;
  --popover: #252525;
  --popover-foreground: #EAEAEA;
  --primary: #A5897A;
  --primary-foreground: #191919;
  --secondary: #2E3025;
  --secondary-foreground: #EAEAEA;
  --muted: #2E3025;
  --muted-foreground: #A5ABAF;
  --accent: #3A3820;
  --accent-foreground: #EAEAEA;
  --destructive: oklch(0.704 0.191 22.216);
  --border: #333333;
  --input: #3A3A3A;
  --ring: #A5897A;
  --chart-1: #A5897A;
  --chart-2: #E3E9C2;
  --chart-3: #F9FBB2;
  --chart-4: #A5ABAF;
  --chart-5: #F8FCDA;
  --sidebar: #252525;
  --sidebar-foreground: #EAEAEA;
  --sidebar-primary: #A5897A;
  --sidebar-primary-foreground: #191919;
  --sidebar-accent: #2E3025;
  --sidebar-accent-foreground: #EAEAEA;
  --sidebar-border: #333333;
  --sidebar-ring: #A5897A;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}